
body {
    background-color: #e0d8c8;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 50px ;
    outline: 2px solid red;
}


/*Header Design*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    width: 128px;
    height: auto;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px; /* Space between menu items */
    padding: 0;
    margin: 0;
}

nav ul li a {
    padding: 10px;
    background: #6d4c41;
    color: #e0d8c8;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: inline-block;
}